.posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 1.5em;
}

.post {
    
    a {
        color: #000000;
        display: block;
        padding: 1rem;
        text-decoration: none;
        border-bottom:2px dashed #000000;
    }

    a:hover {
        border-bottom:2px dashed #999999;
        color: #999999;
    }

    h2 {
        margin-bottom: auto;
        margin-top: auto;
        font-size: 1.6rem;
        letter-spacing: 2px;
    }

    p {
        font-size: 1.3rem;
        font-style: italic;
        margin-bottom: auto;
        margin-top: auto;
        margin-left: auto;
        margin-right: 0;
    }
}

.post-content {
    flex-direction: row;
    display: flex;
}

.title {
    margin-left: 0;
    margin-right: auto;
    letter-spacing: 5px;
}


@media screen and (max-width: 800px) {
    .posts {
        padding-top: 0em;
    }
    .post {
    
        a {
            padding-left: 0;
            padding-right: 0;
            border-bottom:2px dashed #000000;
        }

        a:hover {
            border-bottom:2px dashed #999999;
            color: #999999;
        }
    
        p {
            display: none;
        }
    }
}