.app {
  margin: auto;
  text-align: center;
  height: 100%;
  width: 100%;
  margin-right: 130px;
}

.title {
  text-align: center;
  font-size: 36px;
  font-style: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.week-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding-top: 0;
}

.week-label {
  margin-top: 0px;
  color: #404040;
}

.dates {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
}

.date-specifics {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #404040;
}

.button-next {
  margin-bottom: 30px;
}

.legend {
  height: 50%;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 95px;
  padding-top: 20px;
}

.displays {
  display: flex;
  flex-direction: row;
}