.heading-element {
    font-size: 1.7em;
}

.hobby-element {
    padding-left: 10px;
    font-size: 1.3em;
    max-width: 50vw;
}

.link {
    color: #888888;
    text-decoration: none;
}

.link:hover {
    color: #666666;
    text-decoration: none;
}

.intro-text {
    font-size: 1.1em;
    max-width: 50vw;
    padding-bottom: 0.2em;
}

.hello-text {
    font-size: 2.2em;
    font-weight: 600;
    padding-bottom: 0.75em;
    max-width: 50vw;
}

@media screen and (max-width: 800px) {
    .heading-element {
        font-size: 5.5vw;
    }
    
    .link {
        font-weight: 600;
    }
    .hello-text {
        width: 80vw;
        max-width: 80vw;
    }
    .intro-text {
        padding: 0;
        margin: 0;
        font-size: 4vw;
        width: 80vw;
        max-width: 80vw;
    }
}