.profile-img {
    max-width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.buggy-img {
    height: 40%;
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 20px;
}

.heading-element {
    font-size: 1.7em;
}

.hobby-element {
    padding-left: 10px;
    font-size: 1.3em;

    max-width: 60vw;
}

.link {
    font-weight: 600;
}

.intro-text {
    padding-left: 10px;
    font-size: 1.3em;
    max-width: 60vw;
}

.hello-text {
    font-size: 3em;
    max-width: 60vw;
}

.photo-intro {
    display: flex;
    flex-direction: row;
    max-width: 60vw;
}

@media screen and (max-width: 800px) {
    .profile-img {
        max-width: 80vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .buggy-img {
        width: 80vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        padding-top: 20px;
    }
    
    .heading-element {
        font-size: 5.5vw;
    }
    
    .hobby-element {
        padding-left: 0;
        font-size: 4vw;
    
        max-width: 80vw;
    }
    
    .link {
        font-weight: 600;
    }
    
    .intro-text {
        padding-left: 0;
        font-size: 4vw;
        max-width: 80vw;
    }
    
    .photo-intro {
        display: flex;
        flex-direction: row;
        max-width: 80vw;
    }
}