.profile-img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.buggy-img {
    height: 40%;
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 20px;
}

.hobby-element {
    padding-left: 10px;
    font-size: 1.1em;
}

.intro-text {
    font-size: 1.3em;
}

.hello-text {
    font-size: 3em;
}

.photo-intro {
    display: flex;
    flex-direction: row;
}

.intro-text-group {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-bottom: 20px;
}
