.project-item-thumbnail {
    height: 175px;
    width: 175px;
    margin-right: 20px;
    background: '../resources/img/github_square_black.png'
}

.project-item-thumbnail:hover {
    opacity: 0.6;
}

.project-item-text {
    font-size: 1.1rem;
    color: #888888;
}