.project-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: flex-start;
}

.project-item-thumbnail {
    max-height: 15vw;
    max-width: 15vw;
    align-self: flex-start;
}

.project-item-thumbnail:hover {
    opacity: 0.6;
}

.project-anchor {
    max-width: 15vw;
    align-self: flex-start;
    margin-right: 20px;
    margin-top: 5px;
}

.project-title {
    font-size: 1.5rem;
    color: rgb(37, 37, 37);
    font-weight: 500;
    margin-top: 0;
}

.project-item-text {
    font-size: 1.1rem;
    color: #525252;
    align-self: flex-start;
    max-width: 65vw;
}

.project-tech {
    font-size: 1.1rem;
    color: black;
    font-weight: 500;
    align-self: flex-start;
}

.project-date {
    font-size: 1.1rem;
    color: black;
    align-self: flex-start;
}

